/* 去除按钮的focus后的蓝色边框 */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

/* 固定的导航条会遮住页面上的其它内容，除非你给 <body> 元素底部设置了 padding */
body {
    padding-top: 70px;
}

/* 解决Bootstrap模态框切换时页面抖动or页面滚动条
body{ overflow: auto !important;} .modal{ overflow: auto !important;}
*/

/* 去除a标签的下划线*/
a {
    text-decoration: none;
}

.tm-blog-img-container {
    background: url('../image/tm-blog-img.jpg') no-repeat center center;
    background-size: 100% auto;
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}