<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>博客</title>
    <link type="text/css" rel="stylesheet" th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/plugins/artDialog4.1.7/skins/black.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/plugins/bootstrapValidator-0.5.3/bootstrapValidator.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
<input type="hidden" id="urlPath" th:value="${#httpServletRequest.getContextPath()}"/>
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" target="_blank" href="https://github.com/SongLea">SongLea</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/home/index}">首页</a></li>
                <li class="active"><a href="#">博客</a></li>
                <li><a href="javascript:void(0)" role="button" data-toggle="modal" data-target="#contactModal">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> 欢迎您：
                        <span th:text="${@homeController.getDefaultUser(#httpServletRequest)}"></span>
                    </p>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> 设置<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-link active" data-toggle="modal" data-target="#updatePasswordModal"
                               id="updatePasswordModalBtn" role="button" href="javascript:void(0)">修改密码</a>
                        </li>
                        <li><a class="btn btn-link active" id="logoutBtn"
                               role="button" href="javascript:void(0)">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
   <div class="row text-center">
       <h2><span th:text="${title}">&nbsp;&nbsp;&nbsp;<small th:text="${createTime}"></small></span></h2>
   </div>
    <div class="row" th:utext="${content}"></div>
</div>
<!--联系方式窗口-->
<div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalTitle"
     data-keyboard="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="contactModalTitle" class="modal-title">关于</h4>
            </div>
            <div class="modal-body">
                <p class="h4">联系作者</p>
                <p>Email：<a href="mailto:lsong329483@gmail.com">lsong329483@gmail.com</a></p>
                <p class="h4">项目源码</p>
                <p>Github：
                    <a target="_blank" href="https://github.com/SongLea/amqp">https://github.com/SongLea/amqp</a>
                </p>
                <small>Designed and built with all the love in the world by @SongLea，本项目源码受
                    <a rel="license" href="https://github.com/SongLea/amqp/blob/master/LICENSE" target="_blank">MIT</a>开源协议保护。
                </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--重置密码窗口-->
<div id="updatePasswordModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updatePasswordModalTitle"
     data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 id="updatePasswordModalTitle" class="modal-title">修改密码</h4>
            </div>
            <form id="updatePasswordForm" onkeydown="if(event.keyCode===13)return false;">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="oldPassword" class="control-label">旧密码</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                                   placeholder="请输入旧密码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="control-label">新密码</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" id="newPassword" name="newPassword"
                                   placeholder="请输入新密码"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repeatNewPassword" class="control-label">确认新密码</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" class="form-control" id="repeatNewPassword" name="repeatNewPassword"
                                   placeholder="请再次输入新密码"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="submitUpdatePassword">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/plugins/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/artDialog4.1.7/artDialog.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrapValidator-0.5.3/bootstrapValidator.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/bootstrapValidator-0.5.3/zh_CN.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jqueryForm-4.2.2/jquery.form.min.js}"></script>
<script type="text/javascript" th:src="@{/js/nav.js}"></script>
</body>
</html>